[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/bundle/vim-plug"]
	path = vim/.bundle/vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule "tmux/.tmux"]
	path = tmux/.tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "tmux/presets_tmux"]
	path = tmux/presets_tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = git@github.com:tmux-plugins/tpm.git
[submodule "zsh/zsh-vimode-visual"]
	path = zsh/zsh-vimode-visual
	url = git@github.com:b4b4r07/zsh-vimode-visual.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts
[submodule "others/powerline"]
	path = others/powerline
	url = https://github.com/powerline/fonts
[submodule "vim/.bundle/kotlin-language-server"]
	path = vim/.bundle/kotlin-language-server
	url = git@github.com:fwcd/kotlin-language-server.git
[submodule "vim/coc/lsp/kotlin-language-server"]
	path = vim/coc/lsp/kotlin-language-server
	url = git@github.com:fwcd/kotlin-language-server.git
[submodule "lsp/kotlin/kotlin-language-server"]
	path = lsp/kotlin/kotlin-language-server
	url = git@github.com:fwcd/kotlin-language-server.git
[submodule "widget/simple-bar"]
	path = widget/simple-bar
	url = https://github.com/Jean-Tinland/simple-bar
