# ALL MODES
:: default : my_tiling_man skhd_mode_xbar default

{% for key, mode in data["modes"].items() -%}
{% if key != "default" -%}
#------{{- key -}}----------
:: {{ key }} : my_tiling_man skhd_mode_xbar {{ key }}
{{ key }} < ctrl - 0 ; default
{{ key }} < escape ; default
# Activate from default
{{ skhd_key_convert(mode["key"]) }} ; {{ key }}
{% endif -%}

{% endfor -%}
#-----------------------

# App specific settings
{% for key, apps in data["app_specifics"].items() -%}
#-----------------------
{{ key }} [
    {% for app in apps -%}
         "{{ data["apps"][app["app"]]["name"] }}": {{ data["modes"][app["mode"]]["key"] -}}
    {% endfor %}
]
{% endfor -%}
#-----------------------


## Switch app
{% for key, app in data["apps"].items() -%}
switch_app < {{ skhd_key_convert(app["key"]) }} : my_tiling_man switch_app "{{ app["name"] }}"; skhd_default
{% endfor -%}

## All mode to switch app
{% for key, mode in data["modes"].items() -%}
{% if key != "default" and key != "switch_app" -%}
{{ key }} < {{ skhd_key_convert(data["modes"]["switch_app"]["key"]) }} ; switch_app
{% endif -%}

{% endfor -%}
#------------------------


# Yabai leader key
yabai < shift - r : yabai --restart-service ; skhd_default
# Changing window focus
yabai < j : my_tiling_man jump_window down ; skhd_default
yabai < k : my_tiling_man jump_window up ; skhd_default
yabai < h : my_tiling_man jump_window left ; skhd_default
yabai < l : my_tiling_man jump_window right ; skhd_default

# Swap
yabai < shift - j : yabai -m window --warp south; skhd_default
yabai < shift - k : yabai -m window --warp north; skhd_default
yabai < shift - h : yabai -m window --warp west; skhd_default
yabai < shift - l : yabai -m window --warp east; skhd_default

# Move window
yabai < shift - s : yabai -m window --display west; yabai -m display --focus west; skhd_default
yabai < shift - g : yabai -m window --display east; yabai -m display --focus east; skhd_default
yabai < ctrl - s : skhd -k "alt + cmd - s"
yabai < ctrl - g : skhd -k "alt + cmd - g"
yabai < 1 : skhd -k "shift + alt + cmd - 1"; skhd_default
yabai < 2 : skhd -k "shift + alt + cmd - 2"; skhd_default
yabai < 3 : skhd -k "shift + alt + cmd - 3"; skhd_default
yabai < 4 : skhd -k "shift + alt + cmd - 4"; skhd_default
yabai < 5 : skhd -k "shift + alt + cmd - 5"; skhd_default
yabai < 6 : skhd -k "shift + alt + cmd - 6"; skhd_default
yabai < shift - 1 : yabai -m window --space 1; yabai -m window --focus recent; yabai -m space --balance; skhd_default
yabai < shift - 2 : yabai -m window --space 2; yabai -m window --focus recent; yabai -m space --balance; skhd_default
yabai < shift - 3 : yabai -m window --space 3; yabai -m window --focus recent; yabai -m space --balance; skhd_default
yabai < shift - 4 : yabai -m window --space 4; yabai -m window --focus recent; yabai -m space --balance; skhd_default
yabai < shift - 5 : yabai -m window --space 5; yabai -m window --focus recent; yabai -m space --balance; skhd_default
yabai < shift - 6 : yabai -m window --space 6; yabai -m window --focus recent; yabai -m space --balance; skhd_default

# Focus recent(^)
yabai < 0x18 : yabai -m window --focus recent; skhd_default

# Rotate
yabai < r : yabai -m space --rotate 270; yabai -m display --focus west; skhd_default

#Resize
yabai < ctrl - h : yabai -m window --resize left:-20:0 ; yabai -m window --resize right:-20:0
yabai < ctrl - j : yabai -m window --resize bottom:0:20 ; yabai -m window --resize top:0:20
yabai < ctrl - k : yabai -m window --resize top:0:-20 ; yabai -m window --resize bottom:0:-20
yabai < ctrl - l : yabai -m window --resize right:20:0 ; yabai -m window --resize left:20:0 

# Maximize
yabai < m : my_tiling_man yabai_toggle_fullscreen; skhd_default

# Balance
yabai < a : yabai -m space --balance; skhd_default

# Mission control
yabai < i : skhd -k "ctrl - 0x7E"; skhd_default

# Quit
quit < q : skhd -k "cmd - w"; yabai -m space --focus recent; skhd_default
quit < x : skhd -k "cmd - w"; yabai -m space --focus recent; skhd_default
quit < shift - q : skhd -k "cmd - q"; yabai -m space --focus recent; skhd_default


#### Slack
ctrl - s [
  "slack": skhd -k "ctrl + cmd + shift + alt - s"
]

# Jump
slack < p [
  "slack" : skhd -k "cmd - k"; skhd_default
]

# Search
slack < 0x2C [
  "slack" : skhd -k "cmd - g"; skhd_default
]

# Home
slack < shift - h [
  "slack" : skhd -k "ctrl - 1"; skhd_default
]

# DM
slack < d [
  "slack" : skhd -k "ctrl - 2"; skhd_default
]

# Activity
slack < a [
  "slack" : skhd -k "ctrl - 3"; skhd_default
]

# Edit last
slack < shift - e [
  "slack" : skhd -k "cmd - up"; skhd_default
]

# Thread
slack < shift - t [
  "slack" : skhd -k "cmd + shift - t"; skhd_default
]

# Next
slack < shift - n [
  "slack" : skhd -k "f6"
]

# Preve
slack < shift - p [
  "slack" : skhd -k "shift - f6"
]

slack < h [
  "slack": skhd -k "0x7B"
]
slack < j [
  "slack": skhd -k "0x7D"
]
slack < k [
  "slack": skhd -k "0x7E"
]

#### End Slack

#### Mouse

ctrl - m ; mouse
mouse < ctrl - 0x29 ; switch_app
mouse < e : cliclick "m:+0,-20" #up
mouse < d : cliclick "m:+0,+20" #down
mouse < f : cliclick "m:+20,+0" #right
mouse < s : cliclick "m:-20,+0" #left
mouse < shift - e : cliclick "m:+0,-80" #up (faster)
mouse < shift - d : cliclick "m:+0,+80" #down (faster)
mouse < shift - f : cliclick "m:+80,+0" #right (faster)
mouse < shift - s : cliclick "m:-80,+0" #left (faster)
mouse < c : cliclick c:.  #click
mouse < shift - c : cliclick rc:. # rightclick
mouse < shift - r : cliclick dd:. # drag
mouse < h : skhd -k "0x7B"
mouse < j : skhd -k "0x7D"
mouse < k : skhd -k "0x7E"
mouse < l : skhd -k "0x7C"


#### Short cat
ctrl - o : skhd -k "ctrl + alt + shift - x"


#### Intelij
intellij < ctrl - h: skhd -k "ctrl  + alt - 0x7B"
intellij < ctrl - j: skhd -k "ctrl  + alt - 0x7D"
intellij < ctrl - k: skhd -k "ctrl  + alt - 0x7E"
intellij < ctrl - l: skhd -k "ctrl  + alt - 0x7C"
intellij < x: skhd -k "ctrl + cmd + alt + shift - h"; skhd_default


